<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}base{% endblock %}</title>
    <link rel="stylesheet" href="../static/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../static/stylesheets/custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
</head>
<body>
    <header class="header" style="background-image: url(../static/image/background.jpg);">
        <nav class="navbar bg-black px-2" style="--bs-bg-opacity: .55;">
            <div class="container d-flex justify-content-between align-items-center">
                <span class="navbar-brand mb-0 h1 fw-bold">
                   <span class="text-white">展望笑嘻嘻的未來</span>
                </span>
                <span class="d-flex justify-content-end align-items-center">
                    <p class="text-white me-3 mb-0 d-none d-md-inline" id="userName"></p>
                    <p class="text-white me-3 mb-0 d-none d-md-inline" id="userRole"></p>
                    <a href="{{ url_for('homepage') }}" class="btn btn-sm btn-sm-btn btn-custom ms-auto me-3">首頁</a>
                    <a href="{{ url_for('log_in') }}" class="btn btn-sm btn-sm-btn btn-custom ms-auto" id="authButton">登入</a>
                </span>
            </div>
        </nav>
        <div class="overlay">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="footer bg-black p-2" style="--bs-bg-opacity: .55;">
            <div class="container d-flex justify-content-between align-items-center">
                
                <div class="footer-left">
                    <div class="fw-bold border-bottom border-white d-none d-sm-block">
                        <span class="text-white">展望笑嘻嘻的未來</span>
                    </div>
                    <span class="footer_font text-white d-block d-md-inline">©Feng Chia University SEP(1432) Group1. All rights reserved.</span>
                    <a href="#" class="footer_font text-white ps-md-3"><span>使用條款</span></a>
                    <a href="#" class="footer_font text-white ps-3"><span>隱私權保護政策</span></a>
                </div>

                <div class="col-2 col-md-1 d-flex flex-column flex-sm-row justify-content-between align-items-center" style="gap: 0.5rem;">
                    <a href="https://github.com/fcu-se-group1/final_project" target="_blank">
                        <img src="../static/image/github.png" alt="SEP group1 github icon" class="footer-icon">
                    </a>
                    <a href="https://www.iecs.fcu.edu.tw/" target="_blank">
                        <img src="../static/image/9k.png" alt="SEP group1 notion icon" class="footer-icon">
                    </a>
                </div>

            </div>
        </footer>
    </header>
    
</body>

{% block content1 %}
{% endblock %}

<script>
    
    document.addEventListener('DOMContentLoaded', function() {
        const user_id = localStorage.getItem('user_id');
        const user_name = localStorage.getItem('user_name');
        const user_role = localStorage.getItem('user_role');
        const userName = document.getElementById('userName');
        const userRole = document.getElementById('userRole');
        const authButton = document.getElementById('authButton');

        if (user_id) {
            userName.textContent = '帳號: ' + user_name;
            if(user_role === 'professional'){
                userRole.textContent = '身分: 社會人士';
            }else if(user_role === "job_seeker"){
                userRole.textContent = '身分: 求職者';
            }
            authButton.textContent = '登出';
            authButton.href = '#';
            authButton.addEventListener('click', function() {
                localStorage.removeItem('user_id');
                localStorage.removeItem('user_role');
                localStorage.removeItem('selectedFunction');
                location.reload();
                window.location.href = '/';
            });
        }else {
            authButton.addEventListener('click', function() {
                const currentPath = window.location.pathname;
                if(!currentPath.includes('log_in')){
                    localStorage.setItem('savepage', window.location.href);
                }
            });
        }
    });

    // if (window.location.pathname !== '/') {
    //     setTimeout(function() {
    //         alert('逾時未操作，請重新操作系統，謝謝！');
    //         window.location.href = '/';
    //     }, 60000000); // 1分鐘 = 60000毫秒
    // }
</script>

</html>