{% extends "base.html" %}

{% block title %}Career test{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<div class="container d-flex justify-content-center align-items-center" style="height: 80%;">

    <div class="col-12 col-lg-6">
        <div class="card border-purple rounded-4 h-100">
            <div class="card-header p-3 px-4 d-flex justify-content-between align-items-center">
                <h2 class="fw-bold mb-0" id="questionTitle">第 1 題</h2>
                <div class="progress" style="width: 50%;" id="progressContainer">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" id="progressBar" role="progressbar" style="width: 0%;"></div>
                </div>
            </div>
            
            <div class="card-body text-purple d-flex flex-column justify-content-center align-items-center p-2 py-4" style="gap: 1rem;">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <h3 id="questionText" class="fw-bold mb-0"> </h3>
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center" id="agreementRow">
                    <h5 class="col-4 fw-bold mb-0 d-flex justify-content-center">不同意</h5>
                    <span class="col-4 mx-3 d-flex justify-content-center">&lt; --- &gt;</span>
                    <h5 class="col-4 fw-bold mb-0 d-flex justify-content-center">同意</h5>
                </div>
                <div class="col-12 d-flex justify-content-center align-items-center" id="rangeRow">
                    <input type="range" class="form-range" id="answerRange" min="1" max="5" step="1">
                </div>
                <div class="col-12 d-flex justify-content-center align-items-center" id="rangeRow">
                    <button class="btn btn-indigo" id="saveButon" onclick="saveAnswer()">儲存答案</button>
                </div>
                <div class="col-12 d-flex justify-content-center align-items-center" id="answerContainer">
                </div>
            </div>

            <div class="card-footer px-4 d-flex justify-content-center" style="gap: 2rem;">
                <button class="btn btn-indigo" id="prevButton" onclick="prevQuestion()" hidden>上一題</button>
                <button class="btn btn-indigo" id="nextButton" onclick="nextQuestion()">下一題</button>
            </div>

        </div>
    </div>

</div>

{% endblock %}

{% block content1 %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    // 定義全局變數 types
    const user_id = localStorage.getItem('user_id');
    const lastpage = localStorage.getItem('savepage');
    const types = ['A', 'C', 'E', 'I', 'R', 'S'];
    let questions = [];
    let currentQuestionIndex = 0;
    let currentSaveQuestionIndex = [];
    let ans = Array.from({ length: 60 }, () => 0);
    let sum = Array.from({ length: 6 }, () => 0);

    // 定義加載問題的函數
    async function loadQuestions() {
        for (const type of types) {
            const response = await fetch(`/show_career_test/${type}`);
            const data = await response.json();
            questions = questions.concat(data['選擇題'].map(q => ({ type: type, text: q })));
        }
    }

    // 更新問題的函數
    function updateQuestion() {
        const question = questions[currentQuestionIndex];
        document.getElementById('questionTitle').textContent = `第 ${currentQuestionIndex + 1} 題`;
        document.getElementById('questionText').textContent = question.text;
        console.log(question)
        const answerContainer = document.getElementById('answerContainer');
        answerContainer.innerHTML = '';

        const rangeInput = document.getElementById('answerRange');
        rangeInput.value = 3; // 默認值為中立
    }

    // 保存答案的邏輯
    function saveAnswer() {
        const rangeInput = document.getElementById('answerRange');
        if (currentSaveQuestionIndex.includes(currentQuestionIndex)) {
            document.getElementById('progressBar').style.width = `${(currentSaveQuestionIndex.length / questions.length) * 100}%`;
        } else {
            currentSaveQuestionIndex.push(currentQuestionIndex);
            document.getElementById('progressBar').style.width = `${(currentSaveQuestionIndex.length / questions.length) * 100}%`;
        }
        // 保存答案的邏輯
        console.log(`Question ${currentQuestionIndex + 1}: ${rangeInput.value}`);
        ans[currentQuestionIndex] = parseInt(rangeInput.value);
    }

    // 下一題
    function nextQuestion() {
        if (currentQuestionIndex < questions.length - 2) {
            currentQuestionIndex++;
            updateQuestion();
            document.getElementById('prevButton').hidden = false;
            document.getElementById('nextButton').textContent = '下一題';
        }
        else if (currentQuestionIndex < questions.length - 1) {
            currentQuestionIndex++;
            updateQuestion();
            document.getElementById('prevButton').hidden = false;
            document.getElementById('nextButton').textContent = '完成';
        }
        else {
            if (document.getElementById('progressBar').style.width === '100%') {
                Swal.fire({
                    title: '測驗完成',
                    text: '您已完成所有題目',
                    icon: 'success',
                    confirmButtonText: '確定'
                }).then(() => {
                    // 提交測驗結果的邏輯
                    console.log('測驗完成');
                });
            }
            else {
                Swal.fire({
                    title: '測驗未完成',
                    text: '請完整填寫問卷',
                    icon: 'error',
                    confirmButtonText: '確定'
                });
            }
        }
    }

    // 上一題
    function prevQuestion() {
        if (currentQuestionIndex > 0) {
            currentQuestionIndex--;
            updateQuestion();
            if (currentQuestionIndex === 0) {
                document.getElementById('prevButton').hidden = true;
            }
        }
    }

    // 完成測驗
    function finishTest() {
        saveAnswer();
        if (document.getElementById('progressBar').style.width === '100%') {
            for (let i = 0; i < 6; i++) {
                for (let j = 0; j < 10; j++) {
                    console.log(ans[i*10+j]);
                    sum[i] += ans[i*10+j];
                }
            }
            let result = {
                'A': sum[0],
                'C': sum[1],
                'E': sum[2],
                'I': sum[3],
                'R': sum[4],
                'S': sum[5]
            };
            result = JSON.stringify(result);
            Swal.fire({
                title: '測驗完成',
                text: '您已完成所有題目',
                icon: 'success',
                confirmButtonText: '確定'
            }).then(() => {
                // 提交測驗結果的邏輯
                console.log('測驗完成');
                window.location.href = '/career_test_result';
                fetch('/career_test', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        user_id: user_id,
                        result: JSON.parse(result)
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message === 'Career test created successfully') {
                        localStorage.setItem('test_id', data.test_id);
                        window.location.href = '/career_test_result';
                    } else {
                        console.error('Error:', data);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        } else {
            Swal.fire({
                title: '測驗未完成',
                text: '請完整填寫問卷',
                icon: 'error',
                confirmButtonText: '確定'
            });
        }
        
    }

    // 開始加載問題
    loadQuestions().then(() => {
        updateQuestion();
    });

</script>
{% endblock %}
