{% extends "base.html" %}

{% block title %}Job Introduction{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80%;">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
        <div class="card border-dark rounded-4 h-100">
            <div class="card-header d-flex justify-content-between p-3 px-4">
                <h3 class="fw-bold mb-0" id="jobTitle">職業介紹</h3>
                <p id="courseCode" class="fw-bold mb-0 d-flex justify-content-center align-items-center text-dark px-1"></p>
            </div>
            <div class="card-body col-12 text-dark p-4 d-flex justify-content-center align-items-center" id="cardBody">
                <div class="col-12 p-0 d-flex flex-column justify-content-start align-items-start overflow-auto" style="height: 41vh; gap: 0.5rem;" id="jobContent">
                    
                </div>
            </div>
            <div class="card-footer px-4">
                <div class="d-flex justify-content-end" style="gap: 2rem;">
                    <a href="{{ url_for('type_intro') }}" class="btn btn-indigo">返回</a>
                    <a href="{{ url_for('chooseFunction') }}" class="btn btn-indigo">確認</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content1 %}
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const type = urlParams.get('type');
    const jobTitle = urlParams.get('job_title');

    async function loadJobIntro() {
        const response = await fetch(`/careers/${type}/jobs/${jobTitle}`);
        const data = await response.json();

        if (response.ok) {
            document.getElementById('jobTitle').textContent = jobTitle;
            const jobContent = document.getElementById('jobContent');
            jobContent.innerHTML = '';

            for (const [key, value] of Object.entries(data)) {
                const sectionTitle = document.createElement('h4');
                sectionTitle.textContent = key;
                jobContent.appendChild(sectionTitle);

                const sectionContent = document.createElement('p');
                sectionContent.textContent = value;
                jobContent.appendChild(sectionContent);
            }
        } else {
            document.getElementById('jobTitle').textContent = '職業不存在';
        }
    }

    loadJobIntro();
</script>
{% endblock %}